@import "../../styles/_variables.module.scss";


.headerWrapper {
    background: linear-gradient(0deg, #F7F3F4, #F7F3F4), linear-gradient(0deg, #FEBD2F, #FEBD2F), radial-gradient(178.57% 327.71% at 110.1% 3.35%, #FF605B 0%, #FFEE30 100%) , #27D07D;
}
.header {
}
.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $screen-m) {
        flex-direction: column;
    }
}
.leftBlock {
    padding-left: 80px;
    width:47%;
    @media (max-width: $screen-md) {
        width:55%;
    }
    @media (max-width: $screen-m) {
        width:100%;
        padding-left: 0;

    }
}

.headline {
    padding: 128px 0 60px;
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}
.inputWrapper {
    margin: 48px auto 128px;
    padding: 5px 15px;
    min-width: 350px;
    width:100%;
    height: 64px;
    background: $white;
    border:none;
    box-shadow: 0px 30px 40px $black-bx-sh-rgb;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $screen-s) {
        min-width: 0px;
        width: max-content;
        justify-content: center;
    }
    > div {
        width: 100%;
        @media (max-width: $screen-s) {
            // width: 80%;
        }
    }
    .input {
        border: none;
        font-size: 14px;
        line-height: 24px;
        color: $grey;
        max-width: 380px;
        padding: 6px;
        width: 80%;
       
       
    }
    .inputIcon {
        display: inline-block;
        width: 14px;
        height: 20px;
        margin-right: 13px;
        background: url(../../public/svg/icon_attention.svg);
        transform: translateY(4px);
    }
    .searchBtn {
        border: none;
        width: 122px;
        height: 48px;
        color: $white;
        background-color: $red-light;
        border-radius: 30px;
        cursor: pointer;
        @media (max-width: $screen-s) {
            font-size: 12px;
            width:100px;
        }
        
    }
    .searchBtn:hover {
        background-color: $red-light-hover;
    }
    @media (max-width: $screen-m) {
       
        margin-bottom: 36px;
    }
   
}

.rightBlock  {
    padding-right: 32px;
    padding-left: 53px;
    height: 100%;
    position: relative;
    width: 47%;
    text-align: right;
    margin-bottom: 96px;
    .parrot {
    }
    
    .card {
        position: absolute;
        bottom: -54px;
        z-index: 3;
        @media (max-width: $screen-md) {
            bottom: -154px;
            padding-right: 0;
        }
    }

    @media (max-width: $screen-m) {
        width:100%;
        margin-bottom: 166px;
    }
    @media (max-width: $screen-md) {
        width:45%;
    }

}

