@import "../../styles/_variables.module.scss";

.wrapper {
    padding: 0 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrowLeft {
    margin-right: 64px;
    @media (max-width: $screen-md) {
        margin-right: 34px;
    }
    @media (max-width: $screen-m) {
        display: none;
    }
}
.arrowRight, .arrowLeft {
    cursor: pointer;
}
.arrowRight {
    transform: rotate(180deg);
    margin-left: 64px;
    @media (max-width: $screen-md) {
        margin-left: 34px;
    }
    @media (max-width: $screen-m) {
        display: none;
    }
}
.slides {
    position: relative;
    width: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    // white-space: nowrap;
    display: flex; 
    flex-wrap: nowrap;
    will-change: transform;
}
.slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    white-space: normal;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    padding-left: 200px;
    margin: 0 auto;
    @media (max-width: $screen-s) {
       padding-left: 20px;
    }
}
.embla__dots {
    text-align: center;
    display: none;
    @media (max-width: $screen-m) {
        display: block;
     }
}
.embla__dot {
    width:11px;
    height: 11px;
    border: 1px solid $black;
    background-color: $white;
    border-radius: 50%;
}
.is_selected {
    background-color: $black;
}
.embla__dot:not(:last-child) {
    margin-right: 14px;
}