@import "../../styles/_variables.module.scss";

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  position: relative;
  flex: 0 0 auto;
  width: 100%;
}
.fewSlides {
  // flex: 0 0 auto;
  width: 20%;
  @media (max-width: $screen-md) {
    width: 50%;
  }
  @media (max-width: $screen-s) {
    width: 100%;
  }
}

.active {
  // box-shadow: 0 4px 35px rgb(0 0 0 / 5%);
}
