.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.error404 {
}
.info404 {
}
.photoplace {
}
.photoframe {
}
.labelWarp {
}
.label {
  text-align: center;
  font-size: 3rem;
  cursor: pointer;
}
.logoSmall {
}
.transition {
}
