$white: #ffffff;
$white-dark: #F7F3F4;
$white-light: #fffff1;
$black: #000000;
$black-light: #333333;
$blue-dark: #222433;
$grey: #807C7C;
$red-light: #F2726C;
$red-light-hover: #d34841;
$color-body: #FFBD9E;

$black-bx-sh-rgb:rgba(218, 78, 104, 0.05); 

$border-color-dark: $blue-dark;


$screen-md: 998px;
$screen-m: 768px;
$screen-s: 564px;

