$white: #ffffff;
$white-dark: #F7F3F4;
$black: #000000;
$black-light: #333333;
$blue-dark: #222433;
$grey: #807C7C;
$red-light: #F2726C;
$red-light-hover: #d34841;

$black-bx-sh-rgb:rgba(218, 78, 104, 0.05); 

$border-color-dark: $blue-dark;


$screen-md: 998px;
$screen-m: 768px;



// $white-smoke: #f3f3f3;
// $white-border: #edf3f9;
// $bg-white: #fafbfd;
// $bg-magenta: #f7fbff;
// $bg-cloud: #ebfdff;
// $brand-red: #8d1212;
// $text-red: #a60028;
// $bg-red: #9a0025;
// $ligh-gray: #d3d3d3;
// $headings-color: #737272;
// $title-gray: #484848;
// $text-grey: #383838;
// $bg-gray: #717171;
// $gray: #bcbcbc;
// $yellow: #fff66b;
// $gray-light: #e0e0e0;
// $gray-dark: #cacaca;
// $bg-banking: #ab34a7;
// $bg-travel: #7bb75f;
// $bg-sheduling: #e8912b;
// $bg-crm: #26bcc5;
// $bg-network: #6764ff;
// $bg-commerce: #ffb911;

// $font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $font-family-sf-pro-display: "SF Pro Display", Helvetica, Arial, sans-serif;
// $font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
//   "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
//   sans-serif;

// $font-size-base: 16px;

// $indent-xs: 4px;
// $indent-sm: 8px;
// $indent: 16px;
// $indent-md: 20px;
// $indent-lg: 32px;

// $line-height-full: 1;
// $line-height-base: 1.428571429; // 20/14
// $line-height-text: 143.2%;

// $font-size-md: 17px;
// $font-size-large: ceil($font-size-base * 1.25); // ~18px
// $font-size-small: ceil($font-size-base * 0.85); // ~12px

// $font-size-h1: 2.5625rem;
// $font-size-h2: 3.25rem;
// $font-size-h3: 1.5rem;
// $font-size-h4: ceil($font-size-base * 1.25); // ~18px
// $font-size-h5: $font-size-base;
// $font-size-h6: ceil($font-size-base * 0.85); // ~12px
// $font-size-heding2: 56px;
// $font-size-heding2-min: 45px;

// $headings-font-weight: 500;
// $headings-line-height: 1.1;

// $time: 0.15s ease-in-out;

// $container-tablet: 720px;

// $phone: 480px;
// $phone-mini: 420px;
// $container-desktop: 940px;

// $tablet-max: 1199px;

// $container-lg: 1170px;

// // Extra small screen / phone
// // Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
// $screen-xs: 480px;
// $screen-xs-min: $screen-xs;
// $screen-phone: $screen-xs-min;

// // Small screen / tablet
// // Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
// $screen-sm: 768px;
// $screen-sm-min: $screen-sm;
// $screen-tablet: $screen-sm-min;
// $screen-tablet-min: 650px;

// // Medium screen / desktop
// // Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
// $screen-md: 992px;
// $screen-md-min: $screen-md;
// $screen-desktop: $screen-md-min;

// // Large screen / wide desktop
// // Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
// $screen-lg: 1200px;
// $screen-lg-min: $screen-lg;
// $screen-lg-desktop: $screen-lg-min;

// // So media queries don't overlap when required, provide a maximum
// $screen-xs-max: ($screen-sm-min - 1);
// $screen-sm-max: ($screen-md-min - 1);
// $screen-md-max: ($screen-lg-min - 1);

// $screen-humburger: 1060px;

// $nav-height: 65px;
// $haading-square-size: 21px;

// $cubic-bez1: cubic-bezier(0.215, 0.61, 0.355, 1);
// $cubic-bez2: cubic-bezier(0.55, 0.055, 0.675, 0.19);
// $cubic-bez3: cubic-bezier(0.175, 0.885, 0.32, 1.275);

// $slider-width: 450px;
// @media (max-width: $screen-md) {
//   $slider-width: 350px;
// }

// // ------------------------------ from default.min.module.scss mainSection.module.scss
// $color-white4: #d6d6d6;
// $color-white9: #ccc;
// $color-white13: #fafafa;

// $color-black1: #222;
// $color-black2: #262733;
// $color-black3: #383a42;
// $color-darkest-grey: #1a202c;
// $color-dark-grey: #444;
// $color-dark-grey1: #333;
// $color-dark-grey2: #4a5568;
// $color-grey: #718096;
// $color-light-grey: #888;
// $color-light-grey1: #858585;
// $color-light-grey2: #bfbfbf;
// $color-light-grey3: #999;
// $color-light-grey4: #666;
// $color-light-grey5: #9fa0a2;
// $color-light-grey6: #a0a1a7;
// $color-lightest-grey: #a0aec0;
// $color-pink1: #a626a4;
// $color-red: #800;
// $color-red1: red;
// $color-light-red: #bc6060;
// $color-light-green: #78a960;
// $color-light-green1: #50a14f;
// $color-green: #397300;
// $color-dark-blue: #1a202c;
// $color-dark-blue1: #33475b;
// $color-blue: #1f7199;
// $color-blue1: #2fb4f9;
// $color-blue3: #3af;
// $color-blue4: #0199ff;
// $color-blue5: #55c2ff;
// $color-blue6: #00a4bd;
// $color-blue7: #0184bb;
// $color-blue8: #4078f2;
// $color-light-blue: #4d99bf;
// $color-light-blue1: #7c98b6;
// $color-blue-grey: #718096;
// $color-orange: #f95738;
// $color-orange2: #f2545b;
// $color-orange3: #e45649;
// $color-broun1: #c18401;
// $color-broun2: #986801;

// $color-yellow1: #f7e31b;
// $color-yellow2: #d7c508;

// $color-bg-white: $white;
// $color-bg-white1: #f0f0f0;
// $color-bg-white2: #f5fcff;
// $color-bg-white3: #f8f9fa;
// $color-bg-white4: $color-white4;
// $color-bg-white5: #e3f6ff;
// $color-bg-white6: #d0effe;
// $color-bg-white7: #f5f8fa;
// $color-bg-white11: #f5f5f5;
// $color-bg-white12: #cfcfcf;
// $color-bg-grey: #cbd5e0;
// $color-bg-grey1: $color-dark-grey1;
// $color-bg-blue1: $color-blue1;
// $color-bg-dark-grey1: $color-dark-grey1;
// $color-bg-blue2: #5bc7ff;
// $color-bg-blue3: $color-blue3;
// $color-bg-blue4: $color-blue4;
// $color-bg-blue5: $color-blue5;
// $color-bg-orange: $color-orange;
// $color-bg-orange1: #ff7a59;
// $color-bg-orange2: #e66e50;
// $color-bg-orange3: #ff8000;

// $color-border-white: $white;
// $color-border-white1: #e2e8f0;
// $color-border-white3: #d6d6d6;
// $color-border-white4: #e3f6ff;
// $color-border-white8: #cbd6e2;
// $color-border-white9: $color-white9;
// $color-border-white10: #bbb;
// $color-border-grey: #cbd5e0;
// $color-border-dark-grey1: $color-dark-grey1;
// $color-border-blue1: $color-blue1;
// $color-border-dark-grey1: $color-dark-grey1;
// $color-border-light-grey1: $color-light-grey1;
// $color-border-orange: $color-orange;
// $color-border-orange1: $color-bg-orange1;
// $color-border-orange2: $color-bg-orange2;
// $color-border-orange3: #c87872;
// $color-border-orange4: #b9554d;

// $color-bx-sh-blue: #178fe5;
