@import "./_variables.module.scss";

  @font-face {
    font-family: Poppins;
    src: 
      url(fonts/Poppins-Medium.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
  }


  body {
    font-family: 'Poppins', sans-serif; 
    margin:0;
  }
  .container {
    max-width: 1440px;
    padding: 0 80px;
    margin: 0 auto;
  }

//   @media (min-width: 1440px) {
//     .container {
//       max-width: 1440px;
//     }
//   }